.section {
    width: 100%;
}

.introduce {
    padding: 18rpx 0;
    &-title {
        text-align: center;
        font-size: 28rpx;
        font-weight: bold;
    }
    &-detail {
        font-size: 24rpx;
        padding: 18rpx;
        color: #666;
    }
}

.footer{
    font-size: 28rpx;
    color: gray;
    margin: 20rpx 0;
}
