.section {
    width: 100%;
}

.introduce {
    background: #f2f8f9;
    &-article {
        height: 750rpx;
        margin-bottom: 10rpx;
        &__img{
            width: 100%;
            height: inherit;
        }
    }
}

.footer{
    font-size: 24rpx;
    color: #ddd;
    padding: 10px 0;
    text-align: center;
}
