// page
$page-bg: #f2f8f9;

// color
$primary-color: #2d8cf0;
$primary-color-light: #1ea9f0;
$primary-color-red: #ff4d4f;
$primary-color-error: #ff4d4f;
$primary-color-success: green;
$white: #fff;
$black: #000;
$bg: #f2f8f9;
$gray: gray;
$gray-light: #eef4f5;

// font color
$font-color-black: #333;
$font-color-dark: #666;
$font-color-light: #9fb2b4;

// font size
$font-size-small: 24rpx;
$font-size-base: $font-size-small + 4rpx;
$font-size-large: $font-size-base + 4rpx;

$border-radius-base: 8rpx;
$border-radius-large: $border-radius-base * 2;
