$bg: #f2f8f9;
$gray: gray;

// page
$page-bg: #f2f8f9;

// color
$primary-color: #2d8cf0;

// font color
$font-dark-color: #666;
$font-light-color: #9fb2b4;

// font size
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
