@import "config";

.container {
    background: $bg;
}

page {
    height: 100%;
    background: $page-bg;
}

.no-item {
    font-size: 14px;
    color: $font-color-dark;
    text-align: center;
    margin-top: 50px;
}

.m {
    &-b {
        &-xs {
            margin-bottom: 5px;
        }
    }
}

.btn-primary {
    background: $primary-color !important;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 10rpx 20rpx;
    border-radius: 8rpx;
}
