@import "config";

.container {
    background: $bg;
}

page {
    height: 100%;
    background: $page-bg;
}

.no-item {
    font-size: 14px;
    color: $font-color-dark;
    text-align: center;
    margin-top: 50px;
}

.btn-primary {
    background: $primary-color !important;
}
